.body{
    background-color: white;
}
.backButton{
    width: 15%;
    margin: 5px;
    padding: 10px;
    color: black;
}

.homeButton{
    width: 90%;
}

.search{
    text-align: center;
    margin: 10px;
}

.searchBar{
    padding: 12px 20px;
    border-radius: 10px;
}

.add{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    padding-top: 20px;
}

.addBar{
    padding: 12px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.transactions{
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}

.summary{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}

.pieChart{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
}

.allTypes{
    text-align: center;
    margin: 10px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}

.typeRow{
    margin: 20px;
    margin-bottom: 30px;
}

.type{
    margin: 30px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
}

.footerABM{
    margin-top: 50px;
    text-align: center;
}

a:link{
    text-decoration: none;
}

a:visited
{
	color: navy;
}

a:hover
{
	background-color: #dae6e6;
	border: 2px solid white;
	border-radius: 5px;
}

a:active
{
	opacity: 0.5;
}

