.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-rows: 100vh;
  grid-template-rows: calc(100vh - 2rem);
  width: 100%;
}

.container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.container > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

#left {
  -ms-grid-row: 1;
  grid-row: 1/1;
  -ms-grid-column: 1;
  grid-column: 1/1;
  background: white;
}

h1{
  text-align: center;
}

#center {
  -ms-grid-row: 1;
  grid-row: 1/1;
  -ms-grid-column: 2;
  grid-column: 2/2;
  overflow: hidden;
}

#right {
  -ms-grid-row: 1;
  grid-row: 1/1;
  -ms-grid-column: 3;
  grid-column: 3/3;
  background: white;
}
  
h{
  color: #000;
  display: block;
  font-size: 50px;
  padding: 20px 0px 30px 0px;
  text-decoration: none;
  width:100%;
  text-align:center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  box-shadow: 0px, 2px, 2px, lightgrey;
  background-color: grey;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  color: white;
  border: none;
  font-size: 1.25rem;
  border-radius: 10px;
}

button:hover{
  background: lightgrey;
  color: black;
}

.ag-row .ag-cell {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}