.DiaryCard{
    background-color:antiquewhite !important;
    width:250px;
    height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.CardAction-focusHighlight{
    color: antiquewhite;
}

.CardAction{
    height: 100%;
}

.Paragraph{
    margin: 20px;
    height: 100%;
    color: black;
}

