/* Stylesheet for Transaction */

.transaction{
    margin-bottom:10px
}

.transaction:hover {
    background-color: lightgray;
}

.date{
    color: grey;
}
.amount{
    color: blue;
}
.trscType{
    color: orange;
}