.Header_1 {
    font-size: 4.0em !important;
    font-weight: normal !important;
    margin-top: 0.5em !important;
}

.Header_2 {
    font-size: 1.7em !important;
    font-weight: normal !important;
    margin-top: 1.0em !important;
    margin-bottom: 1.5em !important;
}

.AppLogo {
    margin-top: 6.0em !important;
}